### Extract exercise: JSON

In this exercise we will practice how to import json file and xml file in our system.

In this case, the JSON is formatted with a 'records' orientation, so you'll need to use that value in the read_json() method. You can tell that the format is 'records' by comparing the pattern in the documentation with the pattern in the JSON file.

Next, read in the population_data.json file using pandas

In [20]:
import pandas as pd
df_json = pd.read_json('data/population_data.json',orient='records')
df_json.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

#### Other ways to read json

Besides using pandas to import JSON file, we can use python json library to import json data. Python treats json data as dictionary.

In [21]:
import json 

with open('data/population_data.json') as f:
    json_data = json.load(f)

print(json_data[10])
print('\n')

print("Country Name: ", json_data[0]['Country Name'])
print("Country Code: ", json_data[0]['Country Code'])
print("\n")

{'Country Name': 'Antigua and Barbuda', 'Country Code': 'ATG', 'Indicator Name': 'Population, total', 'Indicator Code': 'SP.POP.TOTL', '1960': 55339.0, '1961': 56144.0, '1962': 57144.0, '1963': 58294.0, '1964': 59524.0, '1965': 60781.0, '1966': 62059.0, '1967': 63360.0, '1968': 64655.0, '1969': 65910.0, '1970': 67098.0, '1971': 68188.0, '1972': 69176.0, '1973': 70066.0, '1974': 70878.0, '1975': 71609.0, '1976': 72285.0, '1977': 72875.0, '1978': 73324.0, '1979': 73528.0, '1980': 73442.0, '1981': 73066.0, '1982': 72448.0, '1983': 71639.0, '1984': 70725.0, '1985': 69782.0, '1986': 68809.0, '1987': 67845.0, '1988': 67058.0, '1989': 66627.0, '1990': 66696.0, '1991': 67307.0, '1992': 68427.0, '1993': 69938.0, '1994': 71719.0, '1995': 73619.0, '1996': 75628.0, '1997': 77739.0, '1998': 79851.0, '1999': 81831.0, '2000': 83584.0, '2001': 85057.0, '2002': 86266.0, '2003': 87293.0, '2004': 88257.0, '2005': 89253.0, '2006': 90301.0, '2007': 91381.0, '2008': 92478.0, '2009': 93581.0, '2010': 94661.0, '2011': 95719.0, '2012': 96777.0, '2013': 97824.0, '2014': 98875.0, '2015': 99923.0, '2016': 100963.0, '2017': 102012.0}


Country Name:  Aruba
Country Code:  ABW

Once data has been read, we can use previous techniques from first chapter to apply further process.